# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Upload file tugas mahasiswa
backend/uploads/

# Build output
frontend/dist/
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
