PORT=3000

# PostgreSQL (sesuaikan dengan docker-compose.yml di root)
DATABASE_URL="postgresql://lms_user:lms_password@localhost:5432/lms_simtugas?schema=public"

# JWT
JWT_SECRET=ganti-dengan-secret-acak-yang-panjang
JWT_EXPIRES_IN=1d

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=10
